%section#projects.projects
  %h2
    = t('projects.title')
    %span><= @total_projects_count
  .top-projects
    - @big_projects.each do |project|
      - link = project.file_link.presence || project_path(project.slug)
      = link_to link, {class: 'project big', style: "background-image: url(#{image_path(project.image)})"} do
        .info
          %h3= project.title
          %p= project.short
    - @small_projects.each do |project|
      - link = project.file_link.presence || project_path(project.slug)
      = link_to link, {class: 'project small', style: "background-image: url(#{image_path(project.image)})"} do
        .info
          %h3= project.title
