=render '/partials/header_rating'
=render 'projects'
%section.mission
  =image_tag('photo2.jpg', class: 'paralax')
  .container
    .triangle
    .left
      %h3= t('mission.title')
      %p= t('mission.text')
    .right
      %a.button.red.support-button{href: "#money-help"}= t('support')
- if @static_text.present?
  = render 'main/info'

= render 'main/map'
= render 'main/news'
