%section.header-image
  %h1= t('rating.platform_title')
  %h2= t('rating.platform_text')
  %a.button.red.support-button{href: "#money-help"}= t('support')
  %h3
    %span.rating-link{style: "display:inline"}<
      = t('rating.title')
      .rating-overlay>
        .rating-overlay__text
          %p.rating-overlay__first= t('rating.overlay.line1')
          %p.rating-overlay__second= t('rating.overlay.line2')
          %p.rating-overlay__third= t('rating.overlay.line3')
          = link_to t('rating.overlay.qalink'), faq_path, {class: 'rating-overlay__link'}
    = t('rating.top50')
  %ul.companies><
    -49.times do |n|
      -unless @partners[n].nil?
        - if @partners[n].video.present?
          .preload{ style: "background: url(http://img.youtube.com/vi/#{@partners[n].video}/default.jpg) no-repeat -9999px -9999px;position:absolute;" }
        -content_for :partner_title, flush: true do
          %h5= @partners[n].title
          %p
            = @partners[n].body
            %br
            = link_to @partners[n].url, @partners[n].url, target: '_blank' if @partners[n].url.present?
          - if @partners[n].video.present?

            %a.yt-video{href: "http://www.youtube.com/embed/#{@partners[n].video}?rel=0&autoplay=1&amp;showinfo=0html5=1"}
              = image_tag("http://img.youtube.com/vi/#{@partners[n].video}/default.jpg")

        %li>
          .content.white
            =link_to @partners[n].url, title: escape_once(yield(:partner_title)) do
              =image_tag(@partners[n].logo_black_and_white.url,{data:{hover: @partners[n].logo_color.url }})
      -else
        %li>
    %li>
      .content.add
        %a.sign-as-company{href: "#step2c", title: "приєднатися"}
          = image_tag('add.png')
  .progress
    .desc<
      = @partners.count
      \/50
    .progress-bar
      -width = (890 / 50 * @partners.count) / 16
      .filled{ data: { width: "#{width}em" } }
  .socials
    %a{href: "https://twitter.com/WarmCityIF"}
      =image_tag('twitter-small.png')
      twitter
    %a.facebook{href: "https://www.facebook.com/warmifua"}
      =image_tag('facebook-small.png')
      facebook
  .triangle
