- content_for :title, " - #{t('title.partners')}"

=render '/partials/header_rating'
%section.partners
  %h2
    = t('media_partners.title')
    %span><= @media_partners.count
  .list><
    - @media_partners.each do |media_partner|
      = link_to media_partner.url do
        = image_tag media_partner.logo.url

  .buttons
    %a.button.red.support-button{href: "#step1"}= t('support_button')
