%ul
  %li= @advert_form.company_title
  %li= @advert_form.address
  %li= @advert_form.name
  %li= @advert_form.phone
  %li= @advert_form.email
  %li= link_to @advert_form.photo.url, "#{Rails.application.secrets.domain_name}#{@advert_form.photo.url}"
  %li= link_to @advert_form.logo.url, "#{Rails.application.secrets.domain_name}#{@advert_form.logo.url}"
