%ul
  %li
    Назва компанії:
    = @advert_form.company_title
  %li
    Адреса:
    = @advert_form.address
  %li
    Ім’я:
    = @advert_form.name
  %li
    Телефон:
    = @advert_form.phone
  %li
    email:
    = @advert_form.email
  %li
    Фото фасаду:
    = link_to @advert_form.photo.url, "#{Rails.application.secrets.domain_name}#{@advert_form.photo.url}"
  %li
    Логотип:
    = link_to @advert_form.logo.url, "#{Rails.application.secrets.domain_name}#{@advert_form.logo.url}"
  %li
    Замовити макет:
    = @advert_form.layout ? "так" : "ні"
  %li
    Отримати консультацію:
    = @advert_form.advice ? "так" : "ні"
