- content_for :body_class, "project"
- content_for :title, " - #{@project.title}"

%section.header-image{style: "background-image: url(#{image_path(@project.big_image)})"}
  .container
    %h2= @project.title
    %p= @project.short

%section.project.user-text
  = @project.body.html_safe
  = render '/partials/share'
  = render 'partials/advert_form' if @project.show_form?

= render 'news', news: @project.news, total_news: @project.news.count if @project.news.count > 0
